@font-face {
    font-family: 'Helvetica Neue LT Std light';
    src: url('font-Promperu/HELVETICANEUELTSTD LT.OTF');
}

@font-face {
    font-family: 'Helvetica Neue LT Std bold';
    src: url('font-Promperu/HelveticaNeueLTStd-Bd.OTF');
}

@font-face {
    font-family: 'Helvetica Neue LT Std medium';
    src: url('font-Promperu/HelveticaNeueLTStd-Md.OTF');
}

.font-display {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 60px !important;
    line-height: 72px !important;
    /* identical to box height */
    align-items: center;
    text-align: center;
}

.font-h1-bold {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 36px !important;
    line-height: 43.2px !important;
}

.font-H2-light {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.font-H2-light-400 {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px !important;
    text-align: center !important;
}

.font-H2-light-400n {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.font-H2-bold-700 {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.font-h3-light-300 {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 24px !important;
    line-height: 28.8px !important;
}

.font-h3-light-400 {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 28.8px !important;
}

.font-h3-bold {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 24px !important;
    line-height: 28.8px !important;
}

.font-h3-bold-700 {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28.8px !important;
}

.font-h3-bold-700c {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 28.8px !important;
    text-align: center;
}

.font-H4-light {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 18px !important;
    line-height: 21.6px !important;
}

.font-H4-light-400 {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 17px !important;
    line-height: 21.6px !important;
    text-align: center !important;
}

.font-H4-light-400n {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21.6px !important;
}

.font-H4-bold-700 {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 21.6px !important;
    text-align: center !important;
}

.font-H4-bold-700n {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 18px !important;
    line-height: 21.6px !important;
}

.font-H5-light {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center;
}

.font-H5-lightn {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 15px !important;
    line-height: 18px !important;
}

.font-H5-light-400 {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center;
}

.font-H5-light-400n {
    font-family: 'Helvetica Neue LT Std light'!important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 15px !important;
    line-height: 18px !important;
}

.font-H5-bold {
    font-family: 'Helvetica Neue LT Std bold'!important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 15px !important;
    line-height: 18px !important;
}

.font-H5-medium {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    line-height: 18px !important;
    text-align: center;
}

.font-Display-2-Bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-weight: bold!important;
    font-size: 50px !important;
    line-height: 61px !important;
    align-items: center;
}

.font-H4-medium {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal!important;
    font-weight: 500 !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

.font-H4-medium-400 {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal!important;
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 21.6px !important;
}

.font-Display-2-Bold-700 {
    font-family: 'Helvetica Neue LT Std' !important;
    font-weight: bold;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
}

.font-Display-2-700 {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 51px;
    line-height: 61, 2px;
}

.font-label {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.font-H2-bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 30px !important;
    line-height: 36px !important;
}

.font-H3-bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 24px !important;
    line-height: 29px !important;
}

.font-H4-bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 18px !important;
    line-height: 22px !important;
}

.font-H5-bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 15px !important;
    line-height: 18px !important;
    align-items: center !important;
}

.font-label-400 {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
}

.font-label-400c {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16.8px;
    text-align: center !important;
}

.font-link-700 {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 16.8px !important;
}

.font-smallprint-medium {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14.4px !important;
}

.font-smallprint-medium-light {
    font-family: 'Helvetica Neue LT Std light' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 12px !important;
    line-height: 14.4px !important;
}

.font-helvetica-icon {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 16.8px !important;
    text-align: center;
}

.font-helvetica-footer-light {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 14.4px !important;
    text-align: center !important;
}

.font-helvetica-footer-bold {
    font-family: 'Helvetica Neue LT Std bold' !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 14px !important;
    text-align: center !important;
}

.font-helvetica-coryright {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 14px !important;
    line-height: 17px !important;
    text-align: center !important;
    color: #6C6C6C !important;
}

.font-helvetica-footer {
    font-family: 'Helvetica Neue LT Std medium' !important;
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: 14px !important;
    align-items: center;
    color: #000000 !important;
}

.font-normal {
    font-family: 'Helvetica Neue LT Std light' !important;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
}


/* .font */

img {
    image-rendering: -webkit-optimize-contrast;
}

.background-img {
    image-rendering: -webkit-optimize-contrast;
}

.navbar {
    height: 70px!important;
    width: 100%;
}

.nav-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 97px!important;
    height: 50px!important;
    left: 45px;
    top:10px;
}

.badge-notification {
    position: absolute;
    font-size: .6rem;
    margin-top: 0.2rem;
    margin-left: -.3rem;
    padding: .2em .45em;
}

.bg-danger {
    background-color: #C4122F!important;
}

.rounded-pill {
    border-radius: 13.5px !important;
    height:27px;
}

.badge-notification {
    display: inline-block;
    padding: .35em .65em;
    font-size: .20em;
    font-weight: 700;
    Width: 6px;
    Height: 6px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.negro-promperu {
    color: #282828 !important;
}

.rojo-promperu {
    color: #C4122F !important;
}

.azul-promperu {
    color: #07354F !important;
}

.gris-promperu {
    color: #A5ACB0 !important;
}

.blanco {
    color: #FFFFFF;
}

.negro {
    color: #000000;
}

.background-azul-promperu {
    background-color: #07354F;
}

.font-size-21 {
    font-size: 21px;
}

.hover:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.active-icon-nav:active {
    color: #C4122F;
}

.posicion-close-notificacion {
    position: absolute;
    /* right: 12px; */
    right: 25px;
}

.sin-margen-top {
    margin-top: 0!important;
}

.icon-dashboard {
    
    margin-top: 7px;
    margin-bottom: 5px;
}

.background-costos {
    background-image: url('RutasMaritimas/assets/img/dashboard/costos.png');
}

#offcanvasRightLabel {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    display: flex;
}


/* mover a media para el ancho */

.offcanvas-end {
    width: 50%!important;
}

.offcanvas-body-menu {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.offcanvas-body-menu::-webkit-scrollbar {
    width: 10%;
}

.inline {
    display: inline-flex;
}

.text-menu-lateral {
    align-self: self-end;
    margin-bottom: 0;
    color: #07354F;
}

.min-content {
    height: min-content;
}

.badge {
    background-color: #FFFFFF!important;
    color: #282828!important;
}

.badge:hover {
    background-color: #C4122F!important;
    color: #FFFFFF!important;
}

.badge:active {
    background-color: #282828!important;
    color: #FFFFFF!important;
}

.cont-titulo {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}

.container-principal {
    padding-right: 0!important;
    padding-left: 0!important;
    overflow-x: hidden;
}

.btn-danger {
    background-color: #C4122f;
    color: #ffffff;
}

.btn-danger:active {
    background-color: #282828 !important;
    color: #ffffff !important;
}

.btn-outline-danger {
    border: 2px solid #C4122f !important;
    color: #C4122f !important;
    border-radius: 15px !important;
}

.btn-outline-danger:hover {
    border: 2px solid #C4122f !important;
    color: #C4122f !important;
    background-color: #FFF !important;
    opacity: 100 !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
}

.btn-outline-danger:active {
    border: 2px solid #282828 !important;
    color: #282828 !important;
}

.btn-disabled {
    background-color: #C0C0C0 !important;
    color: #8B8B8B !important;
    border-radius: 15px;
}

.btn-danger {
    background-color: #C4122F !important;
    color: #FFF !important;
    border-radius: 15px;
}

.btn-danger:disabled {
    background-color: #C0C0C0 !important;
    color: #8B8B8B !important;
}

.btn-danger:hover {
    background-color: #C4122F !important;
    color: #FFFFFF !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 15px !important;
    ;
}

.btn-danger:active {
    background-color: #282828 !important;
    color: #FFFFFF !important;
}

.footer {
    position: absolute;
}

.inline-for-movil {
    display: inline-flex;
}

.inline-for-movil2 {
    display: flex;
}

.justify-content-right {
    justify-content: right;
}

.icon-dashboard-width {
    width: 15% !important;
}

.left-center {
    text-align: left !important;
}

.padding-card-busqueda {
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.card-dashboard{
    Width:200px;
    Height:120px;
    padding-bottom: 10px;
    padding-left: 17px;
    margin:10px;
}
.div-card-dashboard{
    Width:220px;
    Height:132px;
}
.img-principal{
    position: absolute;
    z-index:1;
    width: 100%;
    height:450px;
    right: 0px;
}
.card-busqueda > .row{
    margin-left: 110px !important;
    margin-right: 110px !important;
}
.img-footter {
    Width: 243px !important;
    Height: 47.69px !important;
    margin-bottom: 18.76%;
    margin-left: 5% !important;
}
.img-footter-promperu {
    width: 97px!important;
    height: 50px!important;
    margin-bottom: 18.76%;
    margin-right: 5% !important;
}
@media (min-width: 200px) {
    
    .img-footter-promperu {
        width: 81px!important;
        height: 35px!important;
        margin-bottom: 18.76%;
        margin-right: 5% !important;
    }
    .img-footter {
        Width: 168px !important;
        Height: 30.9px !important;
        margin-bottom: 18.76%;
        margin-left: 5% !important;
    }
    .card-busqueda > .row{
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .card-dashboard{
        Width:139px;
        Height:110px;
        padding-bottom: 10px;
        padding-left: 17px;
        margin:10px;
        justify-content: center;
        position: absolute;
    }
    .div-card-dashboard{
        Width:159px;
        Height:122px;
    }
    .contenedor-titulo>h5 {
        font-family: 'Helvetica Neue LT Std bold' !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 36px !important;
        line-height: 43px !important;
    }
    .contenedor-titulo>p {
        font-family: 'Helvetica Neue LT Std medium' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 18px !important;
        line-height: 22px !important;
    }
    .contenedor-mapa-rutas {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
    #view-global {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
    .left-center {
        text-align: center !important;
    }
    .icon-dashboard-width {
        width: 50% !important;
    }
    .navbar {
        height: 50px!important;
    }
    .nav-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 56px!important;
        height: 36px!important;
        left: 13px;
        top:7px;
    }
    .nav-img-b {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 56px!important;
        height: 36px!important;
        /* left: 13px; */
        left: 45px;
        top:7px;
    }
    .icon-menu {
        float: left;
        padding: 4px;
    }
    .offcanvas-end {
        width: 100%!important;
    }
    .inline-for-movil {
        display: contents;
    }
    .inline-for-movil2 {
        display: initial;
    }
    .justify-content-right {
        justify-content: center;
    }
    .padding-card-busqueda {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:674px;
    }
    .padding-control-left{
        padding-left: 0px !important;
        padding-right:0 !important;
    }
    .padding-control-right{
        padding-right: 0px !important;
        padding-left:0 !important;
    }
    .padding-control3-busqueda{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (min-width: 576px) {
    .img-footter-promperu {
        width: 81px!important;
        height: 35px!important;
        margin-bottom: 18.76%;
        margin-right: 5% !important;
    }
    .img-footter {
        Width: 188px !important;
        Height: 36.9px !important;
        margin-bottom: 18.76%;
        margin-left: 5% !important;
    }
    .card-busqueda > .row{
        margin-left: 2% !important;
        margin-right: 2% !important;
    }
    .card-dashboard{
        Width:139px;
        Height:110px;
        padding-bottom: 10px;
        padding-left: 17px;
        margin:10px;
        justify-content: center;
        position: absolute;
    }
    .div-card-dashboard{
        Width:159px;
        Height:122px;
    }
    .contenedor-titulo>h5 {
        font-family: 'Helvetica Neue LT Std bold' !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 36px !important;
        line-height: 43px !important;
    }
    .contenedor-titulo>p {
        font-family: 'Helvetica Neue LT Std medium' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 18px !important;
        line-height: 22px !important;
    }
    .contenedor-mapa-rutas {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
    #view-global {
        margin-left: 4% !important;
        margin-right: 4% !important;
    }
    .left-center {
        text-align: center !important;
    }
    .icon-dashboard-width {
        width: 50% !important;
    }
    .navbar {
        height: 50px!important;
    }
    .nav-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 53px!important;
        height: 36px!important;
        left: 13px;
        top:7px;
    }
    .nav-img-b {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 53px!important;
        height: 36px!important;
        left: 45px;
        top:7px;
    }
    .offcanvas-end {
        width: 100%!important;
    }
    .inline-for-movil {
        display: contents;
    }
    .inline-for-movil2 {
        display: initial;
    }
    .justify-content-right {
        justify-content: center;
    }
    .padding-card-busqueda {
        padding-left: 8% !important;
        padding-right: 8% !important;
    }
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:674px;
    }
    .padding-control-left{
        padding-left: 0px !important;
        padding-right:0 !important;
    }
    .padding-control-right{
        padding-right: 0px !important;
        padding-left:0 !important;
    }
    .padding-control3-busqueda{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}

@media (min-width: 768px) {
    .img-footter-promperu {
        width: 97px!important;
        height: 50px!important;
        margin-bottom: 18.76%;
        margin-right: 5% !important;
    }
    
    .img-footter {
        Width: 243px !important;
        Height: 47.69px !important;
        margin-bottom: 18.76%;
        margin-left: 5% !important;
    }
    .card-busqueda > .row{
        margin-left: 50px !important;
        margin-right: 50px !important;
    }
    .card-dashboard{
        Width:200px;
        Height:120px;
        padding-bottom: 10px;
        padding-left: 17px;
        margin:10px;
    }
    .div-card-dashboard{
        Width:220px;
        Height:132px;
    }
    .contenedor-titulo>h5 {
        font-family: "Helvetica Neue LT Std bold" !important;
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 60px !important;
        line-height: 72px !important;
    }
    .contenedor-titulo>p {
        font-family: 'Helvetica Neue LT Std medium' !important;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 30px !important;
        line-height: 36px !important;
    }
    .contenedor-mapa-rutas {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    #view-global {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .left-center {
        text-align: left !important;
    }
    .icon-dashboard-width {
        width: 30% !important;
    }
    .navbar {
        height: 70px!important;
    }
    .nav-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 97px!important;
        height: 56px!important;
        left: 45px;
        top: 7px;
    }
    .offcanvas-end {
        width: 50%!important;
    }
    .inline-for-movil {
        display: inline-flex;
    }
    .inline-for-movil2 {
        display: flex;
    }
    .justify-content-right {
        justify-content: right;
    }
    .padding-card-busqueda {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:450px;
    }
    .padding-control-left{
        padding-left: 30px !important;
        padding-right:0 !important;
    }
    .padding-control-right{
        padding-right: 30px !important;
        padding-left:0 !important;
    }
    .padding-control3-busqueda{
        padding-right: 30px !important;
        padding-left: 0px !important;
    }
}

@media (min-width: 992px) {
    .padding-control3-busqueda{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .card-busqueda > .row{
        margin-left: 80px !important;
        margin-right: 80px !important;
    }
    .left-center {
        text-align: left !important;
    }
    .icon-dashboard-width {
        width: 14% !important;
    }
    .navbar {
        height: 70px!important;
    }
    .nav-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 97px!important;
        height: 56px!important;
        left: 45px;
        top: 7px;
    }
    .offcanvas-end {
        width: 50%!important;
    }
    .inline-for-movil {
        display: inline-flex;
    }
    .inline-for-movil2 {
        display: flex;
    }
    .justify-content-right {
        justify-content: right;
    }
    .padding-card-busqueda {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:450px;
    }
}

@media (min-width: 1200px) {
    .card-busqueda > .row{
        margin-left: 110px !important;
        margin-right: 110px !important;
    }
    .left-center {
        text-align: left !important;
    }
    .icon-dashboard-width {
        width: 14% !important;
    }
    .navbar {
        height: 70px!important;
    }
    .nav-img {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        position: absolute;
        width: 97px!important;
        height: 56px!important;
        left: 45px;
        top: 7px;
    }
    .offcanvas-end {
        width: 50%!important;
    }
    .inline-for-movil2 {
        display: flex;
    }
    .justify-content-right {
        justify-content: right;
    }
    .padding-card-busqueda {
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:450px;
    }
}
@media (min-width: 1920px) {
    .img-principal{
        position: absolute;
        z-index:1;
        width: 100%;
        height:auto;
    }
}
.btn-close-menu {
    box-sizing: content-box !important;
    padding: 0.25em 0.25em!important;
    border: 0!important;
    position: absolute!important;
    z-index: 0!important;
    top: 20px!important;
    right: 20px !important;
    color: #ffff !important;
    border-radius: 50% !important;
    width: 25px !important;
    background-color: #C4122f !important;
    height: 25px !important;
}


/*Style del popover*/

.popover {
    background-color: #07354F !important;
    color: #ffffff !important;
    width: auto !important;
    height: auto !important;
    border-radius: 15px !important;
    position: fixed  !important;
    top: 60px !important;
    right: 8px !important;
    left: auto !important;
    z-index: 100 !important;
}

.popover::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid #07354F;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    top: -30px;
    right: 43px !important;
    position: absolute;
}

.popover-header {
    background-color: #e9ecef00 !important;
}

.popover-body {
    padding: 0rem 1rem !important;
}

.link:hover {
    color: #ffffff !important;
}

.subrayado {
    text-decoration: underline;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.icon-buscador {
    border: none !important;
    ;
    border-bottom: 1px solid #282828 !important;
    border-radius: initial !important;
}

.text-buscador {
    border-left: none !important;
    border-right: none !important;
}

.input-group .text-buscador:focus {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

.height-100 {
    height: 120px !important;
}

.height-1 {
    height: 1px !important;
}

.card-ptoOrigen {
    width: 50% !important;
    height: 30% !important;
    margin-left: 7% !important;
    position: absolute !important;
    font-size: 12px;
    font-weight: bold;
    color: #282828;
}

.card-ptoDestino {
    width: 50% !important;
    height: 35% !important;
    margin-left: 7% !important;
    position: absolute !important;
    font-size: 10px;
    font-weight: bold;
    color: #282828;
}

.padding-left-right-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.margin-left-right-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.padding-left-0 {
    padding-left: 0 !important;
}

.width-100 {
    width: 100% !important;
}

.separar-elementos-5 {
    text-indent: 5pt;
}

.container-principal {
    padding-top: 110px !important;
}

.margin-left-right-3 {
    margin-left: 1.5% !important;
    margin-right: 1.5% !important;
}

.padding-left-right-1 {
    padding-left: 1% !important;
    padding-right: 1% !important;
}

.btn-nivel-inline {
    margin-bottom: 0 !important;
    bottom: 0 !important;
    position: absolute !important;
}

.position-relative {
    position: relative !important;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.fade.show {
    background-color: #0000008c !important;
    top: 0 !important;
}

.modal-dashboard {
    background-color: #0000008c !important;
    top: 0 !important;
    z-index: 100;
}

.body {
    background-color: #0000008c !important;
}

.img-consulta {
    width: 412px;
    height: 240px;
}

.icon-redes {
    background-color: #C4C4C4 !important;
    color: #000000 !important;
    border-radius: 50%;
    border: 1x solid #C4C4C4 !important;
    padding: 5px;
    cursor: pointer;
    margin-right: 4px;
    height: 35px !important;
    width: 35px !important;
    font-size: 25px !important;
}

footer {
    margin-top: -5.5rem !important;
    padding-top: 5.5rem !important;
    height: auto !important;
}

.card-consulta {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1) !important;
    border-radius: 25px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-top: -4.5rem !important;
}

.icon-map {
    --bs-gutter-x: 0rem !important;
}

.icon-right {
    right: 4%;
    position: absolute;
}

.ver-mapa {
    top: 5px;
    position: relative;
}

.pointer {
    cursor: pointer;
}

.acordion-hover:hover {
    color: #C4122f !important;
    ;
}

.margin-16 {
    margin: 16px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.mostrarRutasDesktop {
    margin-bottom: 5rem !important;
    margin-left: 7% !important;
    margin-right: 7% !important;
}





.contenedor-img-movil {
    height: 80px !important;
}

.option-select:hover {
    background-color: #FFEBEE;
    width: 100% !important;
    cursor: pointer;
    opacity: 1 !important;
}

.header-modal {
    justify-content: center !important;
}

.hover-start {
    color: #A5ACB0 !important;
}

.hover-start:hover {
    color: #C4122F !important;
}

.titulo-header {
    position: absolute;
    left: 170px;
}

.vl {
    border: 1px solid #A5ACB0;
    transform: rotate(90deg);
    width: 37px;
    position: absolute;
    left: 146px;
    color: #A5ACB0;
}

.background-blanco {
    background-color: #FFF !important;
}

.margin-4-p {
    margin-left: 4% !important;
    margin-right: 4% !important;
}

.margin-15-p {
    margin-left: 11% !important;
    margin-right: 11% !important;
}

.text-left {
    text-align: left !important;
}

.line-vertical {
    position: absolute;
    width: 843px;
    height: 2px;
    background-color: #A5ACB0;
    opacity: 0.3;
}


.card-busqueda{
    max-width: 1276px;
    width: 100%;
}

.div-card-busqueda{
    justify-content: center;
    display: flex;
}
.div-btn-busqueda{
    display: flex;
    align-items: end;
    justify-content: end;
}
.margin-0{
    margin: 0 !important;
}
.div-principal-busqueda{
    margin-left: 3% !important;
    margin-right: 3% !important;
    margin-bottom: 3rem !important;
}
.badge {
    text-transform: none !important;
    padding-left:15px;
    padding-right:15px;
    padding-top:5px;
}
.margin-right-0> .row {
    margin-right: 0 !important;
}
.text-align-left{
    text-align:left !important;
}
.width-max-content{
    width:max-content !important;
}