
@media (min-width: 200px) {
    .container-principal{
        padding-top:50px !important;
    }
}


@media (min-width: 576px) {
    .container-principal{
        padding-top:50px !important;
    }
    
}

@media (min-width: 768px) {
    .container-principal{
        padding-top:70px !important;
    }
    
}

@media (min-width: 992px) {
    .container-principal{
        padding-top:70px !important;
    }
}

@media (min-width: 1200px) {
    .container-principal{
        padding-top:70px !important;
    }
    
}

.img-principal-login{
    max-height: 547px !important;
    max-width: 592px !important;
    margin-right:95px;
    object-fit: cover;
    width: 100%;
}
.contenedor-left{
    float:right;
    max-width: 687px !important;
    justify-content:right !important;
}
.div-contenedor-right{
    justify-content: center;
    display: flex;
    background-color: #FFFFFF;
}
.contenedor-right{
    float:center !important;
    max-width: 303px !important;
}
.titulo-login{
    /*margin-top:86px;*/
    margin-top:66px;
    margin-bottom:40px;
}
.form-control{
    margin-bottom: 20px;
}
.link-sub{
    text-decoration: underline;
}

/**Modal recupera tu contraseña***/
.modal-header-pass{
    justify-content:center;
    margin-top: 40px;
    padding-top:0;
}
.modal-body-pass{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 25px;
    margin-right: 23.5px;
}
/**Fin Modal recupera tu contraseña***/
/*********checkbox**************/
.input-checkbox {
    display: none;
}
.input-checkbox+.input-checkbox-lab {
    cursor: pointer;
    font-weight: 200 !important;
}
.input-checkbox:checked+.input-checkbox-lab:before {
    /*content: "✓";*/
    content: url("../img/icon-opcion/Vector 1.svg");
    font-size: 25px;
    color: #FFF;
    background: #C4122f;
    font-family: Helvetica Neue;
    font-weight: bold !important;
    line-height: 0.75;
}
.input-checkbox-lab:before {
    content: '';
    background: #FFF;
    border: 1px solid #C4122f;
    border-radius: 5px;
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 0 7px 0 0;
    text-align: center;
    vertical-align: middle;
}

/*********FIN checkbox**************/

.fullHeight {
    height: calc(100vh - 70px);
  }
  